<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <script src="/static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/jquery.min.js"></script>

</head>

<body data-type="chart" class="theme-white">
<script src="/static/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {include file="../application/admin/view/header.html" /}
    <!-- 侧边导航栏 -->
    {include file="../application/admin/view/sidenav.html" /}

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">最近文章</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body  widget-body-lg am-fr">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                   id="example">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>分类</th>
                                    <th>创建时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="recentlyArticle" id="vo"}
                                <tr class="gradeX">
                                    <td><a href="/article/{$vo.id}">{$vo.id}</a></td>
                                    <td>{$vo.title}</td>
                                    <td>{$vo->user->username}</td>
                                    <td>{$vo->articleCategory->name}</td>
                                    <td>{$vo.createAt}</td>
                                </tr>
                                {/volist}
                                <!-- more data -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


                <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">最近的分类</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body  widget-body-lg am-fr">

                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                   id="example">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="recentlyCategory" id="vo"}
                                <tr class="gradeX">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                </tr>
                                {/volist}
                                <!-- more data -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="../application/admin/view/public_js.html" /}

</body>

</html>
