<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">米奇妙妙屋</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li
                {eq name="headerNavIndex" value="Home"}
                class="nav-item active"
                {else/}
                class="nav-item"
                {/eq}

            >
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li
                    {eq name="headerNavIndex" value="Article"}
                    class="nav-item active"
                    {else/}
                    class="nav-item"
                    {/eq}
            >
                <a class="nav-link" href="/article">文章</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
